<div class="dialog-heading">
  <i class="bi bi-exclamation-lg"></i> Add Quest
    <div class="close" [mat-dialog-close]><i class="bi bi-x-lg"></i></div>
  </div>
  <mat-dialog-content>
    <form class="row g-3">
      <div class="col-md-6 form-floating">
        <input type="text"
               class="form-control"
               id="name"
               [formControl]="name"
               placeholder="Name">
        <label for="name">Quest Name</label>
      </div>
      <div class="col-md-6 form-floating">
        <input type="expGain"
               class="form-control"
               id="expGain"
               [formControl]="expGain"
               placeholder="ExpGain"
               required>
        <label for="expGain">Experience Gained</label>
      </div>
      <div class="hint ps-4">Feel free to add HTML markdown to style your text and add links!</div>
      <div class="col-md-12 form-floating">
        <textarea class="form-control"
                  id="description"
                  style="height: 250px;"
                  [formControl]="description"
                  placeholder="something@email.com">
        </textarea>
        <label for="description">Description</label>
      </div>
      <div class="col-12">
        <button id="submit" class="btn btn-primary" type="submit" (click)="addQuest(data.moduleID)">Add Quest</button>
      </div>
    </form>
  </mat-dialog-content>
