<app-breadcrumbs [currentPage]=""></app-breadcrumbs>
<h2>Quest: <span>{{ quest.Name }}</span></h2>
<div class="quest-container">
  <div class="buttons-row">
    <div class="exp" [style]="{'background': '#' + module.Color}">+{{ quest.ExpGain }} <span>exp</span></div>
    <div class="edit" *ngIf="role.Name === 'Mentor'" [style]="{'background': '#' + module.Color}" (click)="editQuest()"><i class="bi bi-pencil-fill"></i> Edit Quest</div>
  </div>
  <h5>Information & Requirements</h5>
  <div class="quest-description" [innerHTML]="quest.Description">
  </div>
  <div class="completed" *ngIf="role.Name == 'Student'">
    <ng-container *ngIf="completed">
      <div class="completed-button" [style]="{'background': '#' + module.Color}" (click)="uncompleteQuest(); goBack()"><i class="bi bi-check-circle-fill"></i> Mark as Incomplete</div>
    </ng-container>
    <ng-container *ngIf="!completed">
      <div class="mark-complete-button" [style]="{'background': '#' + module.Color}" (click)="completeQuest(); goBack()"><i class="bi bi-check-circle-fill"></i> Mark as Completed!</div>
    </ng-container>
  </div>
</div>
