h2 {
  font-weight: 800;
  padding: 15px;
  color: var(--mainheading);
  font-size: 1.8rem;
}
.module-container {
  background: var(--modulebg);
  border-radius: 30px;
  box-shadow: 0px 2px 20px 2px var(--boxshadow);
  padding: 20px;
  display: grid;
  grid-template-areas: 'img info';
  grid-template-columns: minmax(0, 200px) minmax(0, 1fr);
  align-items: center;
}
.module-container > div > img {
  max-width: 200px;
  max-height: 200px;
  margin: 0 15px 0 0;
  border-radius: 20px;
}
.img-box {
  grid-area: 'img';
}
.info-box {
  grid-area: 'info';
}
.stats {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.stat {
  text-align: center;
}
.stat-circle {
  color: var(--headingtext);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.stat-num {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--mainheading);
  padding: 15px 0;
}
.stat-info {
  color: var(--moduletext);
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 800;
}
.quests-title {
  font-weight: 800;
  font-size: 1.5rem;
  padding: 20px;
  margin: 0 13px;
  color: var(--mainheading);
}
.quests-container {
  display: grid;
  grid-template-areas: 'all wip';
  gap: 30px;
}
.all-quests, .wip-quests {
  background: var(--modulebg);
  border-radius: 30px;
  box-shadow: 0px 2px 20px 2px var(--boxshadow);
  padding: 20px;
  max-height: 60vh;
}
.quests-scroll {
  max-height: 90%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #0A4C95 #FFFFFF;
  padding-right: 5px;
}
.all-quests {
  grid-area: 'all';
}
.wip-quests {
  grid-area: 'wip';
}
.section-title {
  font-weight: 800;
  font-size: 1.1rem;
  padding: 0 0 10px 20px;
  color: var(--mainheading);
}
.quest-box {
  display: grid;
  grid-template-areas: 'exp info button';
  grid-template-columns: minmax(0, 70px) minmax(0, 1fr) minmax(0, 50px);
  border-radius: 20px;
  position: relative;
  margin: 5px 0;
}
.exp-box {
  grid-area: 'exp';
  border-radius: 20px;
  color: var(--headingtext);
  background: var(--btncolor);
  font-weight: 800;
  text-align: center;
  width: 70px;
}
.exp-box span {
  display: block;
  color: var(--subheading);
  font-size: 0.7rem;
  margin-top: -5px;
  font-weight: 700;
}
.quest-info-box {
  grid-area: 'info';
  margin-left: 10px;
}
.quest-title {
  font-weight: 800;
  color: var(--mainheading);
}
.quest-title:hover {
  cursor: pointer;
}
.quest-description {
  font-weight: 800;
  color: var(--questdescription);
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-top: -5px;
}
.button-box {
  grid-area: 'button';
  border-radius: 0 20px;
  height: 50%;
  color: var(--headingtext);
  text-align: center;
  width: 50px;
  margin-left: auto;
  font-size: 0.8rem;
}
.button-box:hover {
  cursor: pointer;
}
button.btn {
  border-radius: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  padding: .375rem .75rem;
  position: absolute;
  top: 15px;
  right: 75px;
}
button.btn-primary {
  background-color: var(--btncolor);
  border-color: var(--btncolor);
}
button.edit {
  right: 15px;
}
