<div *ngIf="role.Name == 'Mentor'">
  <button type="button" class="btn btn-primary" [style]="{'background': '#' + module.Color, 'border-color': '#' + module.Color}" (click)="addQuest()"><i class="bi bi-plus-lg"></i></button>
  <button type="button" class="btn btn-primary edit" [style]="{'background': '#' + module.Color, 'border-color': '#' + module.Color}" (click)="editModule(module)"><i class="bi bi-pencil-fill"></i></button>
</div>
<app-breadcrumbs [currentPage]=""></app-breadcrumbs>
<h2>{{ module.Name + ' Module'}}</h2>
<div class="module-container">
  <div class="img-box">
    <img src="{{getImgLink(module.Name)}}">
  </div>
  <div *ngIf="role.Name == 'Mentor'" class="info-box">
    <div class="stats">
      <div class="stat">
        <div class="stat-circle" [style]="{'background': '#' + module.Color}">
          <i class="bi bi-exclamation-lg"></i>
        </div>
        <div class="stat-num">
          0%
        </div>
        <div class="stat-info">
          Average Quest Completion
        </div>
      </div>
      <div class="stat">
        <div class="stat-circle" [style]="{'background': '#' + module.Color}">
          <i class="bi bi-star-fill"></i>
        </div>
        <div class="stat-num">
          {{ totalEarnedExp }}
        </div>
        <div class="stat-info">
          Experience Gained Across All Students
        </div>
      </div>
      <div class="stat">
        <div class="stat-circle" [style]="{'background': '#' + module.Color}">
          <i class="bi bi-check-circle-fill"></i>
        </div>
        <div class="stat-num">
          0%
        </div>
        <div class="stat-info">
          Average Overall Completion
        </div>
      </div>
    </div>
  </div>

  <!--Student banner info box-->
  <div *ngIf="role.Name == 'Student'" class="info-box">
    <div class="stats">
      <div class="stat">
        <div class="stat-circle" [style]="{'background': '#' + module.Color}">
          <i class="bi bi-exclamation-lg"></i>
        </div>
        <div class="stat-num">
          {{ numCompletedQuests }} / {{ numTotalQuests }}
        </div>
        <div class="stat-info">
          Quests Completed
        </div>
      </div>
      <div class="stat">
        <div class="stat-circle" [style]="{'background': '#' + module.Color}">
          <i class="bi bi-star-fill"></i>
        </div>
        <div class="stat-num">
          {{ currentExp }} / {{ totalExp }}
        </div>
        <div class="stat-info">
          Experience Gained
        </div>
      </div>
      <div class="stat">
        <div class="stat-circle" [style]="{'background': '#' + module.Color}">
          <i class="bi bi-check-circle-fill"></i>
        </div>
        <div class="stat-num">
          {{ (numCompletedQuests / numTotalQuests * 100) | number:'1.0-0' }}%
        </div>
        <div class="stat-info">
          Overall Completion
        </div>
      </div>
    </div>
  </div>
</div>
<h5 class="quests-title">Quests</h5>

<div *ngIf="role.Name == 'Mentor'" class="quests-container">
  <div class="all-quests">
    <div class="section-title">
      Posted for Students
    </div>
    <div class="quests-scroll" [style]="{'scrollbar-color': getRGBA(module.Color, 50) + ' var(--modulebg)'}">
      <div *ngFor="let quest of mentorPostedQuests; let i = index">
        <div class="quest-box" [style]="{'background': getRGBA(module.Color, 12)}">
          <div class="exp-box" [style]="{'background': '#' + module.Color}">
            {{ '+' + quest.ExpGain }}
            <span>EXP</span>
          </div>
          <div class="quest-info-box">
            <div class="quest-title" [routerLink]="['/quests/', quest.QuestID]" [state]="{ quest: quest, module: module, role: role }">
              {{ quest.Name }}
            </div>
            <div class="quest-description">
            </div>
          </div>
          <div class="button-box" [style]="{'background': '#' + module.Color}" (click)="editQuest(quest, i)">
            <i class="bi bi-pencil-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wip-quests" [style]="{'scrollbar-color': getRGBA(module.Color, 50) + ', var(--modulebg)'}">
    <div class="section-title">
      Unposted / In Progress
    </div>
    <div class="quests-scroll" [style]="{'scrollbar-color': getRGBA(module.Color, 50) + ' var(--modulebg)'}">
      <div *ngFor="let quest of mentorUnpostedQuests; let i = index">
        <div class="quest-box" [style]="{'background': getRGBA(module.Color, 12)}">
          <div class="exp-box" [style]="{'background': '#' + module.Color}">
            {{ '+' + quest.ExpGain }}
            <span>EXP</span>
          </div>
          <div class="quest-info-box">
            <div class="quest-title">
              {{ quest.Name }}
            </div>
            <div class="quest-description">
            </div>
          </div>
          <div class="button-box" [style]="{'background': '#' + module.Color}" (click)="editQuest(quest, i)">
            <i class="bi bi-pencil-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="role.Name == 'Student'" class="quests-container">
  <div class="all-quests">
    <div class="section-title">
      Up Next
    </div>
    <div class="quests-scroll" [style]="{'scrollbar-color': getRGBA(module.Color, 50) + ' var(--modulebg)'}">
      <div *ngFor="let quest of studentIncompleteQuests; let i = index">
        <div class="quest-box" [style]="{'background': getRGBA(module.Color, 12)}">
          <div class="exp-box" [style]="{'background': '#' + module.Color}">
            {{ '+' + quest.ExpGain }}
            <span>EXP</span>
          </div>
          <div class="quest-info-box">
            <div class="quest-title" [routerLink]="['/quests/', quest.QuestID]"
            [state]="{ quest: quest, module: module, role: role, flag: false }">
              {{ quest.Name }}
            </div>
            <div class="quest-description">
              Not Started
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wip-quests" [style]="{'scrollbar-color': getRGBA(module.Color, 50) + ', var(--modulebg)'}">
    <div class="section-title">
      Completed
    </div>
    <div class="quests-scroll" [style]="{'scrollbar-color': getRGBA(module.Color, 50) + ' var(--modulebg)'}">
      <div *ngFor="let quest of studentCompleteQuests; let i = index">
        <div class="quest-box" [style]="{'background': getRGBA(module.Color, 12)}">
          <div class="exp-box" [style]="{'background': '#' + module.Color}">
            {{ '+' + quest.ExpGain }}
            <span>EXP</span>
          </div>
          <div class="quest-info-box">
            <div class="quest-title" [routerLink]="['/quests/', quest.QuestID]"
            [state]="{ quest: quest, module: module, role: role, flag: true }">
              {{ quest.Name }}
            </div>
            <div class="quest-description">
              Completed {{ quest.LastActivityDate | date:'MM/dd/yy' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

