<br><br>
<button type="button" class="btn btn-primary" (click)="addQuest()"><i class="bi bi-plus-lg"></i></button>
<div class="container">
    MENTOR <br>
    Information to pass:<br>
    asdf

    <h2>Module Details</h2>
  <p><strong>ID:</strong> {{ module.ModuleID }}</p>
  <p><strong>Name:</strong> {{ module.Name }}</p>
  <p><strong>Description:</strong> {{ module.Description }}</p>
  <p><strong>Color:</strong> {{ module.Color }}</p>
  </div>
<div class="container">
  <br><br><br><strong>LIST OF QUESTS</strong> <br>
  <div *ngFor="let quest of filteredQuests">
    <p>Name: {{ quest.Name }}</p>
    <p>Description: {{ quest.Description }}</p>
    <p>Exp Gain: {{ quest.ExpGain }}</p>
  </div>
</div>
