.form-floating > label {
  left: 8px;
}
.form-control {
  position: relative;
}
.input-group .form-floating > label {
  left: 0;
}
.btn-primary {
  background-color: var(--btncolor);
  border-color: var(--btncolor);
  font-weight: 700;
}
