<div id="main">
  <div id="sidebar">
    <div id="profilepic"></div>
    <div id="user-name">First Lastname</div>
    <ng-container *ngIf="user == 'student'">
      <!-- If logged in user is a student -->
      <div class="stats">
        <div class="progress">
          <div class="stats-mini">Overall</div>
          <div class="stats-heading">Progress</div>
          <div class="stats-num">
            <!--Progress goes here -->
            15%
          </div>
        </div>
        <div class="exp">
          <div class="stats-mini">Exp until</div>
          <div class="stats-heading">Next Rank</div>
          <div class="stats-num">
            <!--Exp goes here -->
            +25
          </div>
        </div>
      </div>
      <div class="rank"></div>
      <div class="title">
        Junior Dev
        <!-- Rank goes here -->
      </div>
    </ng-container>
    <ng-container *ngIf="user == 'mentor'">
      <!-- If logged in user is a mentor -->
      <div class="stats">
        <div class="students">
          <div class="stats-mini">Current</div>
          <div class="stats-heading">Students</div>
          <div class="stats-num"><!--Students goes here --></div>
        </div>
      </div>
      <div class="rank"></div>
      <div class="title">
        Junior Dev
        <!-- Job Title goes here -->
      </div>
    </ng-container>
    <div id="side-nav">
      <div class="nav-icons">
        <div id="dashboard-icon" class="nav-icon">
          <i class="bi bi-grid-fill"></i>
        </div>
        <div id="students-icon" class="nav-icon" *ngIf="user == 'mentor'">
          <!-- If logged in user is a mentor -->
          <i class="bi bi-people-fill"></i>
        </div>
        <div id="modules-icon" class="nav-icon">
          <i class="bi bi-mortarboard-fill"></i>
        </div>
        <div id="settings-icon" class="nav-icon">
          <i class="bi bi-gear-fill"></i>
        </div>
        <div id="logout-icon" class="nav-icon">
          <i class="bi bi-box-arrow-right"></i>
        </div>
      </div>
      <div class="nav-links">
        <div id="dashboard-link" class="navlink">
          Dashboard
        </div>
        <div id="students-link" class="navlink" *ngIf="user == 'mentor'">
          <!-- If logged in user is a mentor -->
          Students
        </div>
        <div id="modules-link" class="navlink">
          Modules
        </div>
        <div id="settings-link" class="navlink">
          Settings
        </div>
        <div id="logout-link" class="navlink">
          Logout
        </div>
      </div>
    </div>
  </div>
  <div id="main-content">
    <app-students-page></app-students-page>
  </div>
</div>
