
.card {
  margin: 0;
  border-radius: 30px;
  box-shadow: 0px 2px 20px 2px var(--boxshadow);
  border: none;
}

.card-body img {
  float: left;
  max-width: 100px;
  max-height: 100px;
  margin: 0 15px 0 0;
  border-radius: 20px;
}

.card-title {
  font-weight: 800;
}

.card-subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--cardsubtitle);
  font-size: 0.8rem;
}

.card-text b {
  font-weight: 800;
  color: var(--cardtextbold);
}

.card-text {
  margin-bottom: 0.5rem;
  font-size: 15px;
  color: var(--cardtext);
  font-weight: 600;
}

.btn {
  margin: auto;
  border-radius: 50px;
  font-weight: 800;
}

.btn-container {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-left: -15px;
}

.btn-primary {
  background-color: var(--btncolor);
  border-color: var(--btncolor);
}

.row {
  margin: 0;
}

  .row > * {
    padding: 15px;
  }
