button.btn {
  border-radius: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  padding: .375rem .75rem;
  position: absolute;
  top: 15px;
  right: 15px;
}
button.btn-primary {
  background-color: var(--btncolor);
  border-color: var(--btncolor);
}
