<div>
  <div *ngIf="role.Name == 'Mentor'">
    <!--<button type="button" class="btn btn-primary" (click)="addMentor()"><i class="bi bi-plus-lg"></i></button>-->
    <!--<app-daily-standup></app-daily-standup>-->


    <div class="scrollable-div-horizontal">
      <app-module-card [modules]="allModules" [role]="role"></app-module-card>
    </div>
    <h1>My Students</h1>
    <a class="btn btn-primary" (click)="addDailyStandups()">Add Daily Standups</a>
    <div>
      <app-student-card [students]="mentorStudents" (studentUpdate)="updateMyStudents($event)"></app-student-card>
    </div>
  </div>
</div>
