<div class="dialog-heading">
  <i class="bi bi-person-fill"></i> View {{student.Person.FirstName + ' ' + student.Person.LastName}}
  <div class="close" [mat-dialog-close]><i class="bi bi-x-lg"></i></div>
</div>
<mat-dialog-content>
  <div class="row g-3">
  <div class="col-md-12">
    <b>Full Name</b>: {{ student.Person.FirstName + ' ' + student.Person.LastName }}
  </div>
  <div class="col-md-12">
    <b>Email</b>: {{ student.Person.Email }}
  </div>
  <div class="col-md-12">
    <b>Availability</b>: {{ student.Person.Availability }}
  </div>
  <div class="col-md-12">
      <mat-form-field class="mentor-chip-list">
        <mat-label>Mentors</mat-label>
        <mat-chip-grid #chipGrid aria-label="Mentor selection">
          <ng-container *ngFor="let mentor of selectedMentors; let indx=index;">
            <mat-chip-row (removed)="remove(indx)">
              {{mentor.Person.FirstName + ' ' + mentor.Person.LastName }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </ng-container>
        </mat-chip-grid>
        <input placeholder="New Mentor..." #mentorInput [formControl]="mentorCtrl" [matChipInputFor]="chipGrid"
          [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let mentor of filteredMentors" [value]="mentor">{{ mentor.Person.FirstName + ' ' +
            mentor.Person.LastName }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </div>
  <div class="col-md-12">
    <b style="display: block; padding-bottom: 10px;">Module Progress</b>
    <div>
      <app-module-progress [studentID]="student.RoleID" [details]="true"></app-module-progress>
    </div>
  </div>
  <div class="col-md-12">
    <b style="display: block; padding-bottom: 10px;">Standup Progress</b>
    <div>
      <app-view-student-standups [standups]="standups"></app-view-student-standups>
    </div>
  </div>
  <div class="col-12">
    <button id="submit" class="btn btn-primary" type="submit" (click)="okClose()" *ngIf="!changes">OK</button>
    <button id="submit" class="btn btn-primary" type="submit" (click)="saveChanges()" *ngIf="changes">Save Changes</button>
  </div>
  </div>
</mat-dialog-content>
