<div class="row row-cols-3 row-cols-md-2 g-4">
  <ng-container *ngFor="let standup of standups">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img src="https://i.pinimg.com/474x/5f/2e/cc/5f2ecca11341463537cc008106132cdf.jpg">
          <h6 class="card-subtitle mb-2">{{ standup.getDateCreated }}</h6>
          <p class="card-text">
            <b *ngIf="standup.description == ''">Not Completed</b>
            <b *ngIf="standup.description != ''">Completed</b>
          </p>
          <p>
            <b> {{ standup.getDescription }}</b>
          </p>
          <div class="btn-container">
            <a href="#" id="statusButton" class="btn btn-primary" [routerLink]="['/edit-daily-standup']">Go to Edit Daily Standup -></a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
