<div class="row row-cols-3 row-cols-md-2 g-4">
  <ng-container *ngFor="let standup of standups">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="standupicon"><i class="bi bi-person-arms-up"></i></div>
          <h6 class="card-subtitle mb-2">{{ standup.dateCreated | date: 'MM/dd/yyyy' }}</h6>
          <p class="card-text">
            <b *ngIf="standup.description == ''">Not Completed</b>
            <b *ngIf="standup.description != ''">Completed</b>
          </p>
          <div class="btn-container">
            <a class="btn btn-primary" (click)="editStandup(standup)">Edit Daily Standup</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

