<mat-dialog-content class="custom-dialog-content">
  <div class="dialog-heading">
    <i class="bi bi-person-fill"></i> Daily Standup
    <div class="close" [mat-dialog-close]><i class="bi bi-x-lg"></i></div>
  </div>
  <mat-dialog-content>
    <div class="row g-3">
      <div class="col-md-12">
        <b>Description</b>: {{ standup.description }}
      </div>
      <div class="col-md-6 form-floating">
        <input type="text"
               class="form-control"
               id="dsDescription"
               [formControl]="dsDescription"
               required>
        <label for="dsDescription">Description</label>
      </div>
      <div class="col-md-12">
        <mat-form-field class="mentor-chip-list">
        </mat-form-field>
      </div>
      <div class="col-12">
        <button id="submit" class="btn btn-primary" type="submit" (click)="okClose()">OK</button>
      </div>
    </div>
  </mat-dialog-content>
</mat-dialog-content>
